.main_block{
    margin:0 auto;
    width:500px;
    height:200px;
}
#artifact_in, #predicted{
    width: 50px;
}
#fine{
    width: 187px;
}
input{
    margin-bottom: 10px;
}
body{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('map.jpg');
    background-size: cover;
    color: white;
    font-size: 20px;
}
result{
    display: none;
}
#rules_link{
    text-decoration: none;
    color: lime;
}
#rules_link:hover{
    color: #11ce11;
}